@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dogica';
  src:
    url('./assets/fonts/dogica/dogica.ttf') format('truetype'),
    url('./assets/fonts/dogica/dogicapixel.ttf') format('truetype'),
    url('./assets/fonts/dogica/dogicapixelbold.ttf') format('truetype'),
    url('./assets/fonts/dogica/dogicabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'dogica';
}
